/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
	text-decoration: none; /*Pour cacher le soulignage des liens de la nav*/
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/


/** PARTIE GENERALE : index.html**/
.main-conteneur {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	padding-top: 5px ;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
	text-decoration: none;
}

li:hover {
	color: #B1663C;
}

nav li a{
	color:#000 ;
	
}

nav li img{
	display: flex;
	padding: 0 10px;
	width: 30%;

}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}

/*************************/
/*CSS des boutons filtres*/
/************************/

/* Styles pour le conteneur des boutons de filtre */
.filters-btns{
	display: flex; /*modèle d'affichage flex*/
    justify-content: center; /*on centre horizontalement*/
    gap: 10px;
	margin: 51px 0;
}

/* Styles pour les boutons de filtre */
.filters-btns button {
	background-color: #fff;
    border: 1px solid #1D6154;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
	font-family: 'Syne';
    border-radius: 25px;
    padding: 9px 20px;
    cursor: pointer;
	color: #1D6154;
	transition: .5s ease all
}

/* Styles pour un bouton sélectionné */
.selected {
	color: #fff !important; /* Texte en blanc pour un bouton sélectionné, avec !important pour priorité */
	background-color: #1D6154 !important; /* Fond en vert pour un bouton sélectionné, avec !important pour priorité */
}

/* Styles pour un bouton de filtre survolé */
.filters-btns button:hover {
    background-color: #1D6154;
	color: #fff;

}
/*************************************************************/

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/**************************************/
/*CSS pour la page login de connexion*/
/*************************************/

/* Styles pour la page LOGIN */

.login {
	font-weight: 700;
}

/* .logout-button{
	display: none;
} */

#connection {
	display: flex; /*en flexbox section conneciotn log in */
    flex-direction: column;
	width: 50%;
	margin: auto;
}

#connection > * {
	text-align: center;
}

#connection h2{
	margin-bottom: 20px;
}

#connection form {
	text-align: left; /*Formulaire Email et mot de passe chacun aligné vers la gauche*/
	display: flex;
	flex-direction: column;
}

#connection input { /*Ajustement styles comme dans la maquette*/
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#connection label { /*Ajustement des marges externes et styles comme dans la maquette*/
	margin: 2em 0 1em 0;
	font-weight: 500;

}

.error-connection {
    margin-bottom: 20px;
    font-weight: 700;
    color: #A80306;
}

.forgotten-pwd {
	text-decoration: underline;
	cursor: pointer;
	padding-bottom: 25px;
}

.footerLogin {
	background-color: #fff;
}

#submitLog {
    cursor: pointer;
    background-color: #1D6154; /* Couleur de fond par défaut proche de #1D6154 */
    color: #fff; /* Couleur du texte par défaut */
    transition: background-color 0.3s; /* Transition pour une animation fluide */
}

#submitLog:hover {
    background-color: #005033; /* Couleur de fond au survol */
}


/**************************************/
/*CSS pour le MODE EDITION************/
/*************************************/

.mode-edition {
	display: none;
	align-items: center;
}

.barre {
	background-color: black;
	height: 59px;
	display: flex;
    justify-content: center;
    align-items: center;
	font-family: 'Work Sans';
}

.logo-pen {
	margin-right: 9px;
}

.fa-pen-barre {
	color: #fff;
}

.barre-texte {
	color: #fff;
	font-size: 15px;
}

.hide {
	display: none;
}

.div-projets {
	display: flex;
    align-items: center;
    justify-content: center;
}

.div-projets span:hover {
	cursor: pointer;
}

.fa-pen-projets {
	margin-left: 30px;
	margin-right: 8px;
}

/******************************************************************************/

/**************************************/
/*CSS pour la FENETRE MODALE************/
/*************************************/

.modale{
    position: fixed;
	z-index: 99;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, .33);
	display: none;
}

.modale-conteneur-delete, .modale-conteneur-add {
    background-color: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
	padding: 50px 105px;
	margin: auto;
}


.close {
	position: absolute;
	top: 32px;
	right: 36px;
	color: #000;
	font-size: 25px;
	font-weight: 700;
}

.close:hover {
	color: #A80306;
	cursor: pointer;
}

.modale-title {
	display: flex;
	justify-content: center;
}

hr {
	margin: 47px 0 38px;
}

/*************** FENETRE Modale 1 (GALERIE PHOTO) ***************/


.galerie-photo {
	font-family: "Work Sans";
	font-size: 26px;
	margin-top: 16px;
	margin-bottom: 45px;
	text-align: center;
}

.gallery-modale {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
}

.projets-modale {
    width: 100%;
    height: 100%;
	position: relative;
}

.img-projets-modale {
	width: 100%;
}

.fa-trash-can {
	position: absolute;
	right: 6px;
	top: 6px;
	background-color: #000;
	color: #fff;
	padding: 4px;
}

.fa-trash-can:hover {
	cursor: pointer;
}

.fa-arrows-up-down-left-right {
	visibility: hidden;
	position: absolute;
	right: 30px;
    top: 6px;
    background-color: #000;
    color: #fff;
    padding: 4px;
}

.projets-modale:hover .fa-arrows-up-down-left-right {
	visibility: visible;
	cursor: pointer;
}

.modale-button {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.add {
	font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    width: 240px;
    text-align: center;
    border-radius: 60px;
    padding: 10px 49px;
    border: 0;
    margin-bottom: 23px;
    cursor: pointer;
}

.delete {
	font-family: "Syne";
	color: #A80306;
}

/*************** FENETRE Modale 2 (AJOUT PHOTO) ***************/

.fa-arrow-left {
	position: absolute;
	top: 45px;
	left: 36px;
	color: #000;
	font-size: 25px;
}

.fa-arrow-left:hover {
	color: #A80306;
	cursor: pointer;
}

.fa-image {
	color: #b9c5cc; 
	line-height: 0;
	font-weight: 500;
	font-size: 5em;
	margin: 50px 0 0 0;
	padding: 20px;

} 

 .add-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.add-form-conteneur { 
	background-color: #e8f1f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
	border-radius: 4px;
}

.add-form-conteneur span {
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 14px;
	color: #444;
	margin: 10px 0 25px;
}

.preview-conteneur {
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.preview-conteneur img {
	width: 70%;
}

.preview-projet, .generique-conteneur { 
	display: flex; /*on passe en flexbox */
    flex-direction: column;
    align-items: center;
}

.add-img-label { /*style de l'étiquette AJOUTER une photo*/
	font-family: 'Work Sans';
    font-weight: 500;
    color: #306685;
    background-color: #CBD6DC;
    width: 100%;
    text-align: center;
    border-radius: 60px;
    padding: 15px 33px;
    border: 0;
	cursor: pointer;
	margin-top: 35px;
}
.add-img-input {
	display: none;
}

.add-form-inputs { /*Titre et Catégorie avec inputs l'un endessous de l'autre en colomne*/
	width: 100%;
	display: flex;
    flex-direction: column;
	margin-top: 30px;
}

.label {
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 10px;
}

.input-conteneur {
	height: 35px;
	padding: 0;
	margin-bottom: 20px;
	border: 0;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


.hr {
	display: flex;
    justify-content: center;
	border-top: 1.4px solid #B3B3B3;
	margin-top: 25px;
	padding-top: 35px;
}

.add-button { /*Style du bouton valider*/
	font-family: 'Syne';
    font-weight: 700;
    color: white;
    width: 240px;
    text-align: center;
    border-radius: 60px;
    padding: 10px 49px;
    border: 0;
    margin-bottom: 23px;
    cursor: pointer;
}

.not-allowed {
    background-color: #A7A7A7; /* pas validé --> gris background bouton valider*/
}

.allowed {
	background-color: #1D6154; /* validé --> vert background bouton valider*/
}

.fa-sm{
	font-size: 5em;
}

